{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<div class="box">
<article class="media {{post_class}}">
    <div class="media-content">
        <h2 class="title is-5"><a href="{{url}}">{{title}}</a></h2>
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        <p style="font-size: 0.75rem; white-space: nowrap;">
            <span>Posted on </span>
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="Do MMMM YYYY"}}</time>
            {{tags prefix=" in "}}
        </p>
    </div>
</article>
</div>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
