{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
    <header class="{{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
        <nav>
            {{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            {{#if @blog.navigation}}
                <a href="#"><span class="word">Menu</span></a>
            {{/if}}
        </nav>
    </header>

    <section>
        {{#if image}}
        <figure>
            <div style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1>{{name}}</h1>
        {{#if bio}}
            <h2 >{{bio}}</h2>
        {{/if}}
        <div>
            {{#if location}}<span>{{location}}</span>{{/if}}
            {{#if website}}<span><a href="{{website}}">{{website}}</a></span>{{/if}}
            <span><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}

{{!-- The main content area on the homepage --}}
<main>

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
