{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

          <div class="container">

<div class="columns">
  
<div class="column is-two-thirds">
        <section class="section is-medium">
              <div class="heading" style="padding-bottom: 24px">
                {{#tag}}
                  <h1 class="title is-2">#{{name}}</h1>
                  <h3 class="subtitle is-4">{{#if description}}{{description}}{{/if}}</h3>
                {{/tag}}
              </div>

              <div class="content">        
              {{!-- The main content area on the homepage --}}
              <main class="content" role="main">
                {{#foreach posts}}
                <div class="box">
                        <article class="media">
                          <div class="media-content">
                            <h2 class="title is-5"><a href="{{url}}">{{title}}</a></h2>
                            <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                          </div>
                        </article>
                </div>
                <br>
                {{/foreach}}
              </main>
              <div>
                  {{pagination}}
              </div>
            </div>
 
        </section>
</div>
<div class="column">
  <section class="section">
    {{> instagram }}
  </section>
  <section class="section has-text-centered">
    {{> socialmenu }}
  </section>
</div>

</div>
       </div>